<h1>Number Lookup</h1>

<form>
  <div class="form-group">
    <label for="number">number</label>
    {{input value=number id="number"}}
  </div>

  <button class="btn btn-primary" {{action 'numberLookup'}}>Submit</button>
</form>
