<h1>Search for food by name</h1>

<form>
  <div class="form-group">
    <label for="food">Keywords</label>
    {{input value=food id="food"}}
    <p><small>Try to be specific as possible!</small></p>
  </div>

  <button class="btn btn-sm submit-btn" {{action 'foodLookup'}}>Submit</button>
</form>
