<h1>Food Lookup</h1>

<form>
  <div class="form-group">
    <label for="item">item</label>
    {{input value=item id="item"}}
  </div>

  <button class="btn btn-primary" {{action 'itemLookup'}}>Submit</button>
</form>
