<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container=fluid">
    <div class="navbar-header">

      {{#link-to 'index'}}<img class="navbar-brand brand-image" src="/assets/images/refrigerator.png">{{/link-to}}
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><p class="brand-name">Fridg2.0</p></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#link-to 'all' tagName="li"}}<button class="btn btn-default navbar-btn grocery-link">All Items<span class="glyphicon glyphicon-apple"></span></button>{{/link-to}}
        {{#link-to 'grocery' tagName="li"}}<button class="btn btn-default navbar-btn grocery-link">Grocery List<span class="glyphicon glyphicon-shopping-cart"></span></button>{{/link-to}}
        {{#link-to 'pantry' tagName="li"}}<button class="btn btn-default navbar-btn pantry-link">My Pantry<span class="glyphicon glyphicon-home"></span></button>{{/link-to}}
      </ul>
    </div>
  </div>
</nav>
