  {{navbar-tile}}

  <div class="jumbotron">
  </div>


  <div class="container">
  <div class="row">
    {{#if session.isAuthenticated}}
      <button {{action 'logout'}}>Logout</button><br>
    {{/if}}
    {{outlet}}
  </div>
  <hr>
  <footer>
  </footer>
</div>
