<div class='row'>
  <div class='col-sm-4'>
  </div>
  <div class='col-sm-4'>
    <h1>Grocery List</h1>
    {{grocery-tile item=model update='update' sendTo='sendTo' itemLookup='itemLookup'}}
  </div>
  <div class='col-sm-4'>
  </div>
</div>
