{{#link-to 'all'}}<button class='btn btn-sm btn-success allList'>All Saved Items</button>{{/link-to}}
{{#link-to 'grocery'}}<button class='btn btn-sm btn-info groceryList'>Grocery List</button> {{/link-to}}
{{#link-to 'pantry'}}<button class='btn btn-sm btn-warning pantryList'>Pantry List</button> {{/link-to}}

{{lookup-form foodLookup="foodLookup"}}
{{lookup-number numberLookup="numberLookup"}}

{{new-item item=model save='save'}}
