<div class="col-sm-6">
  {{lookup-form foodLookup="foodLookup"}}
</div>
<div class="col-sm-6">
  {{lookup-number numberLookup="numberLookup"}}
  <div class="newItemBtn">
    {{new-item item=model save='save'}}
  </div>
</div>
