Hi there
{{new-item item=model saveGrocery='saveGrocery'}}

{{lookup-form foodLookup="foodLookup"}}

{{#link-to 'grocery'}}<button class='btn btn-sm btn-info'>Grocery List</button> {{/link-to}}
{{#link-to 'pantry'}}<button class='btn btn-sm btn-warning'>Pantry List</button> {{/link-to}}
