<div class="row">
  <div class="col-md-6">
    <ol>
      {{#each model as |item|}}
      <li> {{#link-to 'number' item.ndbno}}{{item.name}} <br>
        {{/link-to}} </li>
      {{/each}}
    </ol>
  </div>
  <div class="col-md-6">
    {{from-search item=item saveSearched='saveSearched'}}
  </div>
</div>
