<p>
  {{input type="text" value=userEmail placeholder="Email"}}<br>
  {{input type="password" value=userPassword placeholder="Password"}}<br>
  <button class="btn btn-default navbar-btn" {{action "login"}}> Login </button>
</p>

{{#link-to 'signup'}}
<button class="btn btn-default navbar-btn"> New User </button>
{{/link-to}}
